.about-section {
}

.about-section-wrapper {
  padding-top: 56px;
  padding-bottom: 72px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 28, 28, 0.7), rgba(0, 28, 28, 0.7)),
    url(../img/about/about-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 98px;
    padding-bottom: 52px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(0, 28, 28, 0.7),
        rgba(0, 28, 28, 0.7)
      ),
      url(../img/about/about-bg-desk.jpg);
  }
}

.about-title {
}

.about-top-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;

  @include media(desktop) {
    gap: 24px;
    margin-bottom: 38px;
    max-width: 413px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  @include media(desktop) {
  }
}

.about-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 38px;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;

  @include media(desktop) {
    gap: 32px;
  }
}

.about-slide {
  box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0);
  padding: 16px;
  max-width: 164px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media(desktop) {
    padding: 24px 12px;
    width: 187px;
    max-width: 187px;
  }
}

.about-img {
}

.about-slide-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #5bc783;

  @include media(desktop) {
  }
}

.about-slide-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}
