.faq-section {
  background: #fff;
}

.faq-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 116px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 86px;
    padding-bottom: 132px;
    max-width: 1440px;
  }
}

.faq-container {
}

.faq-title {
  color: #212121;
}

.faq-top-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-bottom: 42px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 837px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 32px;
  }
}

.faq-list-item {
  background: #fff;
  border: 1px solid #016d01;
  border-radius: 12px;
  padding: 16px;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    padding: 24px;
    max-width: 842px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-toggle-symbol {
  background: #016d01;
  border-radius: 100px;
  min-width: 40px;
  height: 40px;

  @include media(desktop) {
    min-width: 36px;
    height: 36px;
  }
}

.faq-icon {
}

.faq-btn-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #361b14;
  text-align: left;
  max-width: 253px;

  @include media(desktop) {
    letter-spacing: -0.03em;
    max-width: max-content;
  }
}

.faq-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    line-height: 1.6;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    margin-top: 10px;
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
  background: rgba(0, 255, 0, 0.3);
  border: 3px solid #016d01;
}

.faq-list-item.faq-open .faq-btn-text {
}
