.footer {
  background: #060814;
  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  background-color: #001a19;
  padding-top: 77px;
  padding-bottom: 23px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/footer/footer-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 158px;
    padding-bottom: 109px;
    max-width: 1440px;
    background-image: url(../img/footer/footer-bg-desk.png);
  }
}

.footer-container {
  padding: 0 15px;

  @include media(desktop) {
    padding: 0 132px;
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-top-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: disc;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  @include media(desktop) {
    gap: 0;
    margin: 0;
    order: 3;
  }
}

.footer-top-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;

  @include media(desktop) {
  }
}

.footer-link-span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer-nav {
  margin-bottom: 50px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 2;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 4px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-slash {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  max-width: 217px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    max-width: max-content;
    margin: 0;
    order: 1;
  }
}
