.games-section {
}

.games-section-wrapper {
  padding-top: 75px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 116px;
    max-width: 1440px;
  }
}

.games-title {
}

.games-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    max-width: 628px;
    margin-left: auto;
    margin-right: auto;
  }
}

.games-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.games-swiper-container.show {
  visibility: visible;
}

.games-swiper-wrapper {
  @include media(desktop) {
  }
}

.games-slide {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 16px;
  max-width: 343px;
  min-height: 706px;
  display: flex !important;
  flex-direction: column;

  @include media(desktop) {
    padding: 32px;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: start;
    max-width: 1286px;
    min-height: 456px;
  }
}

.games-slide > picture {
  @include media(desktop) {
    grid-column: 2;
    grid-row: 1 / span 6;
    justify-self: end;
    align-self: center;
  }
}

.games-slide > h3,
.games-slide > p,
.games-slide > ul,
.games-slide > a {
  @include media(desktop) {
    grid-column: 1;
  }
}

.games-slide-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.games-slide-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-variant: small-caps;
  color: #fff;

  @include media(desktop) {
    line-height: 1.5;
    margin-bottom: 32px;
    max-width: 624px;
  }
}

.games-slide-features-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-variant: small-caps;
  color: #fff;
  margin-top: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    line-height: 1.5;
  }
}

.games-slide-features-list {
  list-style-type: disc;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.games-features-item {
}

.games-features-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-variant: small-caps;
  color: #fff;

  @include media(desktop) {
    line-height: 1.5;
  }
}

.games-img {
  margin-bottom: 24px;

  @include media(desktop) {
    min-width: 567px;
    margin-bottom: 0;
  }
}

.games-slide-platform-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-variant: small-caps;
  color: #fff;

  @include media(desktop) {
  }
}

.games-slide-link {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #0f0;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;

  @include media(desktop) {
  }
}

.arrow-icon {
  min-width: 12px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;

  @include media(desktop) {
    display: none;
  }
}

.games-dot {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background-color: rgba(0, 255, 0, 0.4);
  cursor: pointer;
}

.games-dot.active {
  background-color: #0f0;
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin-top: 20px;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
