.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 161px;
  padding-bottom: 146px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      90deg,
      #001c1c 25.57%,
      rgba(0, 28, 28, 0.6) 54.7%,
      rgba(0, 28, 28, 0.4) 78.41%,
      rgba(0, 23, 23, 0) 99.72%
    ),
    url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 207px;
    padding-bottom: 175px;
    max-width: 1440px;
    background-image: linear-gradient(
        90deg,
        #001c1c 25.57%,
        rgba(0, 28, 28, 0.6) 54.7%,
        rgba(0, 28, 28, 0.4) 78.41%,
        rgba(0, 23, 23, 0) 99.72%
      ),
      url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    max-width: 735px;
  }
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 22px;
    max-width: 624px;
    margin-bottom: 36px;
  }
}

.hero-cta-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #0f0;
  margin-bottom: 61px;

  @include media(desktop) {
    font-size: 22px;
    margin-bottom: 148px;
  }
}

.hero-link {
  box-shadow: 2px 0 10px 0 #00f102;
  border: 1px solid #0f0;
  border-radius: 12px;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    max-width: 296px;
  }
}
