.process-section {
}

.process-bg-wrapper {
  padding-top: 51px;
  padding-bottom: 61px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 28, 28, 0.7), rgba(0, 28, 28, 0.7)),
    url(../img/about/about-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 86px;
    padding-bottom: 38px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(0, 28, 28, 0.7),
        rgba(0, 28, 28, 0.7)
      ),
      url(../img/process/process-bg-desk.jpg);
  }
}

.process-container {
}

.process-title {
}

.process-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.process-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 406px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
  }
}

.process-list-wrapper {
  display: flex;
  align-items: start;
  gap: 10px;

  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.process-line-img {
  min-width: 16px;
}

.process-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.process-list-item {
  max-width: 317px;
  min-height: 108px;

  @include media(desktop) {
    max-width: 343px;
  }
}

.process-item-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #0f0;
  margin-bottom: 9px;

  @include media(desktop) {
  }
}

.process-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  @include media(desktop) {
  }
}
