.testimonials-section {
}

.testimonials-section-wrapper {
  padding-top: 56px;
  padding-bottom: 104px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 28, 28, 0.7), rgba(0, 28, 28, 0.7)),
    url(../img/testimonials/testimonials-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 86px;
    padding-bottom: 148px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(0, 28, 28, 0.7),
        rgba(0, 28, 28, 0.7)
      ),
      url(../img/testimonials/testimonials-bg-desk.jpg);
  }
}

.testimonials-title {
  @include media(desktop) {
  }
}

.testimonials-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;
  margin-bottom: 42px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.4;
    max-width: 404px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.testimonials-list-item {
}

.testimonials-img {
}
