<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="about-title section-title">Who We Are</h2>
      <div class="about-top-text-wrapper">
        <p class="about-top-text">
          At Clarero, we are game creators driven by a passion for innovation,
          exploration, and technology.
        </p>
        <p class="about-top-text">
          Our team is made up of industry veterans, creative designers, and
          cutting-edge technologists who specialize in building vast, futuristic
          worlds.
        </p>
        <p class="about-top-text">
          Our vision is simple: to create games that feel like they belong in
          the future, where players can explore unknown galaxies, engage in
          strategic warfare, and immerse themselves in groundbreaking
          technological systems.
        </p>
      </div>
      <p class="about-subtitle">We focus on:</p>
      <ul class="about-list">
        <li class="about-slide">
          <img
            class="about-img"
            src="./img/about/about-multiplayer.png"
            alt="Multiplayer"
            width="68"
            height="54"
            loading="lazy"
          />
          <p class="about-slide-title">MULTIPLAYER IMPACT</p>
          <p class="about-slide-text">
            Multiplayer dynamics where every player’s action matters.
          </p>
        </li>
        <li class="about-slide">
          <img
            class="about-img"
            src="./img/about/about-worlds.png"
            alt="Worlds"
            width="68"
            height="54"
            loading="lazy"
          />
          <p class="about-slide-title">IMMERSIVE SCI-FI WORLDS</p>
          <p class="about-slide-text">
            Sci-fi environments that feel alive and immersive
          </p>
        </li>
        <li class="about-slide">
          <img
            class="about-img"
            src="./img/about/about-mechanics.png"
            alt="Mechanics"
            width="50"
            height="54"
            loading="lazy"
          />
          <p class="about-slide-title"> SMART GAME MECHANICS</p>
          <p class="about-slide-text">
            Game mechanics that challenge players to think critically, adapt,
            and evolve.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
