<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">Frequently Asked Questions</h2>
      <p class="faq-top-text">
        Have any questions? Check out our most commonly asked questions below:
      </p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What platforms do you develop games for?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            We develop for PC, mobile (iOS, Android), and VR.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >How can I participate in beta testing?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Stay updated by following our social media for beta testing
            announcements.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">What types of games do you make?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            We specialize in action-adventure and sci-fi strategy games, with
            both single-player and multiplayer modes.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">How do I contact customer support?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            You can reach us at
            <a class="faq-link" href="mailto:support@clarado.space"
              >support@clarero.space</a
            >.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Will you be releasing new games soon?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! Check out our upcoming titles on the "Our Games" section for
            more details.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
