<footer class="footer" id="footer">
  <div class="footer-bg-wrapper">
    <div class="container footer-container">
      <div class="footer-content-wrapper">
        <ul class="footer-top-link-wrapper">
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="footer-top-link"
              >Instagram:
              <span class="footer-link-span">@clarero_games</span></a
            >
          </li>
          <li>
            <a
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="footer-top-link"
              >GitHub: <span class="footer-link-span">clarero-games</span></a
            >
          </li>
        </ul>
        <nav class="footer-nav">
          <div class="footer-list">
            <div class="footer-list-item">
              <a class="footer-link" href="./privacy-policy.html"
                >Privacy Policy</a
              >
            </div>
            <div class="footer-slash">|</div>
            <div class="footer-list-item">
              <a class="footer-link" href="./terms-and-conditions.html"
                >Terms & Conditions</a
              >
            </div>
            <div class="footer-slash">|</div>
            <div class="footer-list-item">
              <a class="footer-link" href="./cookies-policy.html">Cookies</a>
            </div>
          </div>
        </nav>
        <p class="footer-text">© 2025 Clarero Games LLC. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
