<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">Experience the Future of Gaming with Clarero</h1>
      <p class="hero-text">
        Welcome to Clarero, where the future of gaming is now. Dive into worlds
        that blend cutting-edge technology with immersive, sci-fi adventures.
        Our games push the boundaries of gameplay and storytelling, offering
        players the opportunity to explore futuristic environments, engage in
        strategic battles, and shape the course of the galaxy.
      </p>
      <p class="hero-cta-text">Join us. Become part of the future.</p>
      <a href="#contact" class="hero-link">Discover Our Games</a>
    </div>
  </div>
</section>
