<section class="section partners-section" id="partners">
  <div class="partners-bg-wrapper">
    <div class="container partners-container">
      <h2 class="section-title partners-title">Our Partners & Collaborators</h2>
      <p class="partners-top-text">
        We are proud to work with a number of trusted partners who help us
        create the best gaming experiences. These collaborations enhance the
        quality of our games, expand our creative capabilities, and bring new
        ideas to life.
      </p>
      <div class="partners-list-wrapper">
        <p class="partners-subtitle">Our Key Partners:</p>
        <ul class="partners-list">
          <li class="partners-list-item">
            <p class="partners-item-title">Rust LTD</p>
            <a
              href="https://rustltd.com"
              target="_blank"
              rel="noopener noreferrer"
              class="partners-itm-link"
              >Visit Rust LTD</a
            >
            <p class="partners-item-text">
              Experts in server hosting and cloud gaming technologies.
            </p>
          </li>
          <li class="partners-list-item">
            <p class="partners-item-title">Monomi Park</p>
            <a
              href="https://monomipark.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="partners-itm-link"
              >Visit Monomi Park</a
            >
            <p class="partners-item-text">
              Creators of Slime Rancher, collaborating with us on interactive,
              playful world-building.
            </p>
          </li>
          <li class="partners-list-item">
            <p class="partners-item-title">Warbits</p>
            <a
              href="https://warbits.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="partners-itm-link"
              >Visit Warbits</a
            >
            <p class="partners-item-text">
              Game developers specializing in strategy-based gameplay systems.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
