<section class="section process-section" id="process">
  <div class="process-bg-wrapper">
    <div class="container process-container">
      <h2 class="section-title process-title">How We Build Games</h2>
      <div class="process-content-wrapper">
        <p class="process-top-text">
          Our development process ensures we deliver only the most engaging and
          technologically advanced games. Here’s a breakdown of how we build our
          games:
        </p>
        <div class="process-list-wrapper">
          <img
            class="process-line-img"
            src="./img/process/process-line.png"
            alt="Line"
            width="16"
            height="550"
            loading="lazy"
          />
          <ul class="process-list">
            <li class="process-list-item">
              <p class="process-item-title">Concept & Worldbuilding:</p>
              <p class="process-item-text">
                Every project begins with brainstorming and worldbuilding. We
                develop the story, mechanics, and environments that will form
                the backbone of the game.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-title">Prototyping & Testing:</p>
              <p class="process-item-text">
                We test initial gameplay mechanics and world designs, refining
                them based on player feedback and testing results.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-title">Design & Production:</p>
              <p class="process-item-text">
                In this phase, we fully develop the game’s systems, assets, and
                environments, integrating them into the game world.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-title">Optimization & QA Testing:</p>
              <p class="process-item-text">
                We ensure that our games run smoothly across all platforms,
                performing extensive bug testing and gameplay balancing.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-title">Launch & Post-Launch Support:</p>
              <p class="process-item-text">
                After launch, we continue to update the game, release content
                expansions, and address player feedback to keep the experience
                fresh.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
