<section class="testimonials-section section" id="testimonials">
  <div class="testimonials-section-wrapper">
    <div class="container testimonials-container">
      <h2 class="testimonials-title section-title">What Players Are Saying</h2>
      <p class="testimonials-top-text">
        Here’s what players are saying about our games:
      </p>
      <ul class="testimonials-list">
        <li class="testimonials-list-item">
          <picture>
            <source
              srcset="./img/testimonials/testimonials-luke-desk.png"
              media="(min-width: 1440px)"
              width="296"
              height="181" />
            <source
              srcset="./img/testimonials/testimonials-luke-mob.png"
              width="340"
              height="181" />
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-luke-mob.png"
              alt="Testimonial"
              width="340"
              height="181"
              loading="lazy"
          /></picture>
        </li>
        <li class="testimonials-list-item">
          <picture>
            <source
              srcset="./img/testimonials/testimonials-sarah-desk.png"
              media="(min-width: 1440px)"
              width="296"
              height="181" />
            <source
              srcset="./img/testimonials/testimonials-sarah-mob.png"
              width="340"
              height="181" />
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-sarah-mob.png"
              alt="Testimonial"
              width="340"
              height="181"
              loading="lazy"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
